/devtools/*.txt
/cliwallet/build/*
/build/*

# Relayer
/relayer/node.ini
/relayer/bin/*
/relayer/json/*
/relayer/config/*
/relayer/blockchain/*
/relayer/blockchain_testnet/*
/relayer/blockchain_devnet/*
/relayer/blockchain_local/*