# General
/build/*
/build_history/*
/dist/*
/r5_tools.egg-info/*

# R5 VEnv
/r5-venv/*

# DevTools
/devtools/*.txt

# R5 Console
/r5console/console.spec
/r5console/build/*
/r5console/dist/*

# R5 CLI Wallet
/cliwallet/wallet.ini
/cliwallet/r5.key
/cliwallet/cliwallet.spec
/cliwallet/build/*
/cliwallet/dist/*
/cliwallet/r5wallet.egg-info/*

# SCdev
/scdev/scdev.ini
/scdev/scdev.spec
/scdev/build/*
/scdev/dist/*

# Miner
/r5miner/miner.ini
/r5miner/build/*
/r5miner/dist/*
/r5miner/__pycache__

# Proxy
/proxy/proxy.ini
/proxy/proxy.spec
/proxy/build/*
/proxy/dist/*
/proxy/cert*

# Relayer
/relayer/relayer.spec
/relayer/node.ini
/relayer/build/*
/relayer/dist/*
/relayer/bin/*
/relayer/json/*
/relayer/config/*
/relayer/blockchain/*
/relayer/blockchain_testnet/*
/relayer/blockchain_devnet/*
/relayer/blockchain_local/*